* {
  font-family: "Funnel Sans";
  color: white;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 50%);
}

body {
  background-color: #6c747c;
  margin: 0px;
}


header {
  display: flex;
  background-color: #2c3e50;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 50%);
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  padding-right: 10px;
}

#leftSide {
  display: flex;
  align-items: center;
}

#leftSide > img {
  height: 70px;
  margin: 10px
}

#leftSide > h1 {
  font-size: 2.5rem;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 100%);
  color: white;
  margin: 0px;
}

.clock {
  font-weight: lighter;
  font-size: 2rem;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 100%);
  color: white;
  margin: 0px;
  justify-self: end;
}

main {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 184px);
  flex-grow: 1;
}

label {
  font-size: 1.2rem;
  font-weight: 550;
  margin-right: 10px;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 50%);
}

input {
  color: black;
  border-radius: 7px;
  border: none;
  height: 25px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 50%);
  text-shadow: none;
}
form > input {
  margin-left: 2px;
}
input[type="text"] {
  margin-right: 3px;
  font-size: 1rem;
}

form {
  margin-bottom: 10px;
  margin-left: 14px;
}

#teamInfo {
  margin: 10px;
}

#teamInfo {
  background-color: #2c3e50;
  border-radius: 7px;
  padding: 10px;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 50%);
}

#teamInfo > h1 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  font-size: 1.75rem;
}

#infoGrid {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr
}

#infoGrid > div {
  margin-bottom: 10px;
}

#infoGrid > div > h3, p {
  margin: 0px;
  padding: 0px;
}

#eventGrid {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  margin-bottom: 20px;
}

.eventCard {
  background-color: #2c3e50;
  border-radius: 7px;
  padding: 10px;
  margin: 5px 10px;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 50%);
}
.eventCard > h3 {
  margin-top: 0px;
  margin-bottom: 5px;
}
.eventCard > input {
  margin-top: 12px;
  padding: 4px;
}

#compHeading {
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 1.75rem;
}

table {
  background-color: #2c3e50;
  border-radius: 7px;
  padding: 10px;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 50%);
  margin: 0px 10px 20px 10px;
  width: calc(100vw - (20px * 2));
  border-spacing: 0px;
}

th {
  font-size: 1.25rem;
  border-bottom: 1px solid white;
}

tr {
  border-radius: 5px;
}

tr:nth-child(even) {
  background-color: #6c747c;
}

td {
  text-align: center;
}


footer {
  background-color: #2c3e50;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

a > img:hover {
  transform: scale(1.1); /*AI code, need to figure out*/
}

a > img {
  height: 45px;
  margin-right: 15px;
  margin-top: 5px;
}

.redScore {
  color: #f16560;
}
.blueScore {
  color: #6fa6c6;
}

#robotNameContainer, #locationContainer {
  margin-left: 10px;
}